from dataclasses import dataclass
from typing import Optional

number = float | int

{% for class in classes %}
@dataclass
class {{ class.name }}:
    {% for property in class.properties %}
        {% if property.type.nullable %}
            {% if property.type.is_primitive %}
    {{ property.name }}: {{ property.type.name }} | None
            {% else %}
    {{ property.name }}: Optional["{{ property.type.name }}"]
            {% endif %}
        {% else %}
        {% if property.type.is_primitive %}
    {{ property.name }}: {{ property.type.name }}
            {% else %}
    {{ property.name }}: "{{ property.type.name }}"
            {% endif %}
        {% endif %}
    {% else %}
        pass
    {% endfor %}
{% endfor %}
